* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}

/* -------------------question-box start--------------- */

.question-box {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 10% auto;
  border-radius: 10px;
  padding: 30px;
  align-items: center;
  box-shadow: 5px 5px rgb(140, 188, 214);
}

.question-box h1 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}

/* -------------------question-box end--------------- */

/* --------------------Option buttons start--------------------- */

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

/* hover will work when button will not disabled */
.btn:hover:not([disabled]) {
  background: #454444;
  color: #fff;
}
/* If user select the option then no option can be select again */
.btn:disabled {
  cursor: no-drop;
}

/* --------------------Option buttons End--------------------- */

/* -------------------------Next Button start ------------------- */
#next-btn {
  background: blue;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 5px;
  cursor: pointer;
  /* display: block; */
  display: none;
}

/* -------------------------Next Button End ------------------- */

/* This will change the correct and incorrect options backgroung color */
.correct {
  background: rgb(174, 240, 174);
}
.incorrect {
  background: rgb(236, 175, 175);
}
